<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @secondary_tbl.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @secondary_tbl.description %>
</p>

<p>
  <strong>Height:</strong>
  <%= @secondary_tbl.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @secondary_tbl.width %>
</p>

<p>
  <strong>Distance starts:</strong>
  <%= @secondary_tbl.distance_starts %>
</p>

<p>
  <strong>Distance ends:</strong>
  <%= @secondary_tbl.distance_ends %>
</p>

<p>
  <strong>Masters:</strong>
  <%= @secondary_tbl.masters_id %>
</p>

<%= link_to 'Edit', edit_secondary_tbl_path(@secondary_tbl) %> |
<%= link_to 'Back', secondary_tbls_path %>
