<p id="notice"><%= notice %></p>

<p>
  <strong>Image name:</strong>
  <%= @tourist_guide_image.image_name %>
</p>

<p>
  <strong>Image createdby:</strong>
  <%= @tourist_guide_image.image_createdby %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tourist_guide_image.description_id %>
</p>

<%= link_to 'Edit', edit_tourist_guide_image_path(@tourist_guide_image) %> |
<%= link_to 'Back', tourist_guide_images_path %>
